@font-face {
  font-family: "Marvin Visions Variable";
  src: url("/assets/MarvinVisionsTrial-Variable.ttf") format("truetype"),
       url("/assets/MarvinVisionsTrial-Variable.woff") format("woff"),
       url("/assets/MarvinVisionsTrial-Variable.woff2") format("woff2");
       font-weight: 20 170;
       font-style: oblique 0deg 25deg;
}

html{
  background-color: #F1F7ED;
}

#container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width:100%;
}

h1{
  font-family: "Marvin Visions Variable";
  font-size: 3em;
  text-align: center;
  width: 100vw;
  animation-name : typochanges;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin: 1rem;
}

a{
  text-decoration: none;
  text-align: center;
  width: calc(100vw/3);
  margin: 0 0 1rem 0;

}

div{
  width: 300px;
  height: 300px;
  margin: 0rem;
  padding: 0rem;
  transition:all .5s linear;
  font-family: "Marvin Visions Variable";
  font-size: 2em;
  border: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: rgba(11, 48, 12, 1);
  background-color: rgba(11, 48, 12, 0.2);
}

div[data-filter="vowels"]{
}

div[data-filter="consonants"]{
}

a[data-filter="consonants"]:focus ~ div:not([data-filter="consonants"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

a[data-filter="vowels"]:focus ~ div:not([data-filter="vowels"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

div[data-filter="consonants"]:hover{
  border-color:rgba(11, 34, 136, 1);/* Blue */
  background-color: rgba(11, 34, 136, 0.2);
}

div[data-filter="vowels"]:hover{
  border-color: rgba(231, 159, 83, 1);/* Orange */
  background-color: rgba(231, 159, 83, 0.2);
}

@keyframes typochanges {
  0%{
    font-variation-settings: 'wght' 20, 'slnt' 0;
  }
  40%{
    font-variation-settings: 'wght' 140, 'slnt' 14;
  }
  60%{
    font-variation-settings: 'wght' 170, 'slnt' 25;
  }
  80%{
    font-variation-settings: 'wght' 130, 'slnt' 14;
  }
  100%{
    font-variation-settings: 'wght' 20, 'slnt' 0;
  }
}
