@font-face {
  font-family: "Marvin Visions Variable";
  src: url("/assets/MarvinVisionsTrial-Variable.ttf") format("truetype"),
       url("/assets/MarvinVisionsTrial-Variable.woff") format("woff"),
       url("/assets/MarvinVisionsTrial-Variable.woff2") format("woff2");
       font-weight: 20 170;
       font-style: oblique 0deg 25deg;
}

html{
  background-color: #ffffff;
}

#container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width:100%;
}

h1{
  font-family: "Marvin Visions Variable";
  font-size: 3em;
  text-align: center;
  width: 100vw;
  animation-name : typochanges;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin: 1rem;
}

a{
  text-decoration: none;
  text-align: center;
  width: calc(100vw/3);
  margin: 0 0 1rem 0;
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
}

a:first-of-type:hover{
  color: #2F80ED;
}
a:nth-of-type(2):hover{
  color: rgba(231, 159, 83, 1);
}

div{
  flex-basis: 300px;
  flex-grow: 1;
  margin: 1rem;
  padding: 2rem;
  transition:all .5s linear;
  font-family: "Marvin Visions Variable";
  font-size: 3em;
  border-radius: 10px;
  border: solid;
  border-width: 3px;
  border-color: #ffffff;
}

div[data-filter="vowels"]{
  background-color: rgba(231, 159, 83, 0.2);
  color: rgba(231, 159, 83, 1);
}

div[data-filter="consonants"]{
  background-color: #EAF2FD;
  color: #2F80ED;
}

a[data-filter="consonants"]:focus ~ div:not([data-filter="consonants"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

a[data-filter="vowels"]:focus ~ div:not([data-filter="vowels"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

div[data-filter="consonants"]:hover{
  border-color: #2F80ED;
  background-color: #EAF2FD;
}

div[data-filter="vowels"]:hover{
  border-color: rgba(231, 159, 83, 1);/* Orange */
  background-color: rgba(231, 159, 83, 0.2);
}

p{
  font-weight: 30;
  font-size: 2rem;
  color: black;
}

@keyframes typochanges {
  0%{
    font-variation-settings: 'wght' 20, 'slnt' 0;
  }
  40%{
    font-variation-settings: 'wght' 140, 'slnt' 14;
  }
  60%{
    font-variation-settings: 'wght' 170, 'slnt' 25;
  }
  80%{
    font-variation-settings: 'wght' 130, 'slnt' 14;
  }
  100%{
    font-variation-settings: 'wght' 20, 'slnt' 0;
  }
}
